<%if notice%>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Cafe</h1>

<p>Select staff for order:</p>
<% @waitresses.each do |wt| %>
  <div class="staff">
    <table>
      <tr>
        <td><%= wt.fullname %></td>
        <td> <%= link_to 'Orders', waitress_orders_path(wt)  %></td>
      </tr>
    </table>
  </div>
<% end %>
