<%= form_for(@drink_dict_item) do |f| %>
  <% if @drink_dict_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink_dict_item.errors.count, "error") %> prohibited this drink_dict_item from being saved:</h2>

      <ul>
      <% @drink_dict_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
