<p id="notice"><%= notice %></p>

<h1>Listing Drink Dict Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drink_dict_items.each do |drink_dict_item| %>
      <tr>
        <td><%= drink_dict_item.title %></td>
        <td><%= drink_dict_item.price %></td>
        <td><%= link_to 'Show', drink_dict_item %></td>
        <td><%= link_to 'Edit', edit_drink_dict_item_path(drink_dict_item) %></td>
        <td><%= link_to 'Destroy', drink_dict_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drink dict item', new_drink_dict_item_path %>
