<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @drink_dict_item.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @drink_dict_item.price %>
</p>

<%= link_to 'Edit', edit_drink_dict_item_path(@drink_dict_item) %> |
<%= link_to 'Back', drink_dict_items_path %>
