<%= form_for(@waitress) do |f| %>
  <% if @waitress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@waitress.errors.count, "error") %> prohibited this waitress from being saved:</h2>

      <ul>
      <% @waitress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fullname %><br>
    <%= f.text_field :fullname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
