<p id="notice"><%= notice %></p>

<h1>Listing Waitresses</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @waitresses.each do |waitress| %>
      <tr>
        <td><%= waitress.fullname %></td>
        <td><%= link_to 'Show', waitress %></td>
        <td><%= link_to 'Edit', edit_waitress_path(waitress) %></td>
        <td><%= link_to 'Destroy', waitress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waitress', new_waitress_path %>
