<p id="notice"><%= notice %></p>

<h1>Listing Food Dict Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_dict_items.each do |food_dict_item| %>
      <tr>
        <td><%= food_dict_item.title %></td>
        <td><%= food_dict_item.price %></td>
        <td><%= link_to 'Show', food_dict_item %></td>
        <td><%= link_to 'Edit', edit_food_dict_item_path(food_dict_item) %></td>
        <td><%= link_to 'Destroy', food_dict_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food dict item', new_food_dict_item_path %>
