<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @food_dict_item.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food_dict_item.price %>
</p>

<%= link_to 'Edit', edit_food_dict_item_path(@food_dict_item) %> |
<%= link_to 'Back', food_dict_items_path %>
