<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @drink.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @drink.price %>
</p>

<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
