<%= form_for(@c_table) do |f| %>
  <% if @c_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@c_table.errors.count, "error") %> prohibited this c_table from being saved:</h2>

      <ul>
      <% @c_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
