<p id="notice"><%= notice %></p>

<h1>Listing C Tables</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @c_tables.each do |c_table| %>
      <tr>
        <td><%= c_table.number %></td>
        <td><%= link_to 'Show', c_table %></td>
        <td><%= link_to 'Edit', edit_c_table_path(c_table) %></td>
        <td><%= link_to 'Destroy', c_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New C table', new_c_table_path %>
