<h1>New Order</h1>

<%= render 'form' %>

<h2>Line items</h2>
<table id="line_items_table">
  <thead>
    <th>No</th>
    <th>Title</th>
    <th>Price</th>
    <th>Q/ty</th>
    <th>Total</th>
  </thead>
  <tbody>
  </tbody>
</table>
<div>
  <p>Sum: </p>
  <span id="sum">0</span>
</div>



<div id="foods">
  <h3>Select food</h3>
  <select id="food_dict">
    <% if @food_dict %>
      <% @food_dict.each do |fdi| %>
        <option value="<%= fdi.id %>"><%= fdi.title %> : <%= number_to_currency(fdi.price) %></option>
      <% end %>
    <% end %>
  </select>
</div>
<button id="add_food"> Add food as line item </button>

<div id="drinks">
  <h3>Select drink</h3>
  <select id="drink_dict">
    <% if @drink_dict %>
      <% @drink_dict.each do |ddi| %>
        <option value="<%= ddi.id %>"><%= ddi.title %> : <%= number_to_currency(ddi.price) %></option>
      <% end %>
    <% end %>
  </select>
</div>
<button id="add_drink"> Add drink as line item </button>


<%= link_to 'Back', orders_path %>

  
<script language="javascript">
var count = 0;
var sum = 0.0;
var line_items = [];
  $("#add_drink").click(function(){
    var val = $("#drink_dict option:selected").val();
    var option = $("#drink_dict option:selected").text();
    var drink_item_opt = option.split(":");
    var title = drink_item_opt[0];
    var price = drink_item_opt[1];
    var price_num = Number(price.replace(/[^0-9\.]+/g,"")); 

    var exist_item_arr = line_items.filter(function(o){ return o.title === title; })
    var exist_item = null;

    if( exist_item_arr.length !== 0 ){
      exist_item = exist_item_arr[0];
    }

    var quantity = 1;
    count += 1;
    var id = count;

    $('input:hidden#lineitems').val( $('input:hidden#lineitems').val() + ':D' + val  );

    if( exist_item === null ){
      var drink_item = {}
      drink_item.title = title;
      drink_item.price = price_num;
      drink_item.quantity = 1;
      drink_item.id = id;
      line_items.push( drink_item )

    }else{
      exist_item.quantity = exist_item.quantity + 1;
      quantity = exist_item.quantity
      $("#item_"+exist_item.id).remove();
      id = exist_item.id;
    }
  
    sum = sum + price_num;

    $('#sum').text(sum);

    $("#line_items_table").append("<tr id='item_"+ id +"'><td>" + line_items.length +  "</td><td>" + title + "</td><td>"+ price +"</td><td>" + quantity + "</td><td>" + quantity*price_num + "</tr>");

  })

  $("#add_food").click(function(){
    var val = $("#food_dict option:selected").val();
    var option = $("#food_dict option:selected").text();
    var food_item_opt = option.split(":");
    var title = food_item_opt[0];
    var price = food_item_opt[1];
    var price_num = Number(price.replace(/[^0-9\.]+/g,"")); 

    var exist_item_arr = line_items.filter(function(o){ return o.title === title; })
    var exist_item = null;

    if( exist_item_arr.length !== 0 ){
      exist_item = exist_item_arr[0];
    }

    var quantity = 1;
    count += 1;
    var id = count;

    $('input:hidden#lineitems').val( $('input:hidden#lineitems').val() + ':F' + val  );

    if( exist_item === null ){
      var food_item = {}
      food_item.title = title;
      food_item.price = price_num;
      food_item.quantity = 1;
      food_item.id = id;
      line_items.push( food_item )

    }else{
      exist_item.quantity = exist_item.quantity + 1;
      quantity = exist_item.quantity
      $("#item_"+exist_item.id).remove();
      id = exist_item.id;
    }
  
    sum = sum + price_num;

    $('#sum').text(sum);

    $("#line_items_table").append("<tr id='item_"+ id +"'><td>" + line_items.length +  "</td><td>" + title + "</td><td>"+ price +"</td><td>" + quantity + "</td><td>" + quantity*price_num + "</tr>");

  })
</script>
